.header-left{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}
.header{
   
    background-color: rgb(120, 120, 202);;
    color: white;
    font-weight: 600;
    font-size: xx-large;
    font-style: italic;
    font-weight: bold;
    font-family: Garamond, serif;
}