<div class="toolbar" role="banner">
  <img width="40" alt=" Logo" src="" />
  <span class="title">Find Your Taste.... </span>
  <span class="logout" type="reset" (click)="logout()">
    Logout
  </span>
</div>
<div class="container">
<div class="card-container">
    <mat-card class="card1">
      <mat-card-content>
        <p  class="title">Write your own blog</p>
        <img mat-card-image  src="assets/images/writing-blog.jpg" alt="Photo">
      </mat-card-content>
    </mat-card>
    <mat-card class="card2">
      <mat-card-content>
        <p  class="title">Read food blogs</p>
        <img mat-card-image  src="assets/images/read.png" alt="Photo">
      </mat-card-content>
    </mat-card>
    <mat-card class="card3">
      <mat-card-content>
        <p  class="title">Suggestion box</p>
        <img mat-card-image  src="assets/images/suggestion.png" alt="Photo">
      </mat-card-content>
    </mat-card>
  </div>
</div>