<div class="container">
<div class="card-container">
    <mat-card class="card1">
      <mat-card-content>
        <p>Write your own blog</p>
        <img mat-card-image  src="assets/images/img1.png" alt="Photo">
      </mat-card-content>
    </mat-card>
    <mat-card class="card2">
      <mat-card-content>
        <p>Read food blogs</p>
        <img mat-card-image  src="assets/images/img1.png" alt="Photo">
      </mat-card-content>
    </mat-card>
    <mat-card class="card3">
      <mat-card-content>
        <p>Suggestion box</p>
        <img mat-card-image  src="assets/images/img1.png" alt="Photo">
      </mat-card-content>
    </mat-card>
  </div>
</div>