<div class="toolbar" role="banner">
  <img width="40" alt=" Logo" src="" />
  <span class="title">Find Your Taste.... </span>
  <span class="logout" type="reset" (click)="logout()">
    Logout
  </span>
</div>

<div class="container">
<div class="section1">
 <img width="100%"  src="assets/images/blgbg.png"/>
 <div class="centered">Food Blogs</div>

</div>

<!-- Cards with media area -->
<mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Small</mat-card-subtitle>
      <img mat-card-sm-image src="assets/images/IMG-20220926-WA0015.jpg" >
    </mat-card-title-group>
    <mat-card-content>
      {{longText}}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Medium</mat-card-subtitle>
      <img mat-card-md-image src="assets/images/Snapchat-380131576.jpg" >
    </mat-card-title-group>
    <mat-card-content>
      {{longText}}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Large</mat-card-subtitle>
      <img mat-card-lg-image src="assets/images/IMG-20221010-WA0028.jpg" >
    </mat-card-title-group>
    <mat-card-content>
      {{longText}}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Extra large</mat-card-subtitle>
      <img mat-card-xl-image src="assets/images/IMG-20221008-WA0032.jpg" >
    </mat-card-title-group>
    <mat-card-content>
      {{longText}}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  

   
</div>
