.card1 {
  background-color: rgb(120, 120, 202);
  color: black;
  font-style: italic;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 1%;
  padding:2%;
}
.card2 {
  background-color: rgb(120, 120, 202);
  color: black;
  font-style: italic;
  font-weight: bold;
  margin: 1%;
  padding:2%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card3 {
  background-color: rgb(120, 120, 202);
  color: black;
  font-style: italic;
  font-weight: bold;
  margin: 1%;
  padding:2%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
