<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="60" alt=" Logo" src="assets\images\log.png" />
  <span class="title">Find Your Taste.... </span>
</div>
<!-- <div class="body" [ngStyle]="{ background: 'url(assets/images/img3.jpg)' }"> -->
<div class="body">
  <div class="content" role="main">
    <!-- Highlight Card -->
    <div class="card highlight-card card-small">
      <span class="title">Read blogs or write your own blog</span>
    </div>

    <!-- Resources -->
    <h2 class="Quotes">We're foodies...We discover food</h2>
    <p class="Quotes">Life is uncertain. Eat dessert first.</p>

    <div class="card-container">
      <div class="card-body">
        <h5 class="card-header">
          Old user? <a routerLink="/Login">Click here to login..</a>
        </h5>
        <h5 class="card-header">Signup Here</h5>
        <mat-card-content>
          <form class="example-form">
            <table class="example-full-width" cellspacing="5">
              <tr>
                <td>
                  <mat-form-field
                    class="example-full-width"
                    style="width: 400px !important"
                  >
                    <input
                      matInput
                      placeholder="Username"
                      [(ngModel)]="username"
                      name="username"
                      required
                    />
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field
                    class="example-full-width"
                    style="width: 400px !important"
                  >
                    <input
                      matInput
                      placeholder="Password"
                      [(ngModel)]="password"
                      type="password"
                      name="password"
                      required
                    />
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field
                    class="example-full-width"
                    style="width: 400px !important"
                  >
                    <input
                      matInput
                      placeholder="mail"
                      [(ngModel)]="mail"
                      type="mail"
                      name="mail"
                      required
                    />
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field
                    class="example-full-width"
                    style="width: 400px !important"
                  >
                    <input
                      matInput
                      placeholder="Contact no"
                      [(ngModel)]="contact"
                      type="number"
                      name="number"
                      required
                    />
                  </mat-form-field>
                </td>
              </tr>
            </table>
          </form>
          <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="onSubmit()" color="primary">
            Submit
          </button>
        </mat-card-actions>
      </div>
    </div>
  </div>
</div>
